In [1]:
import pandas as pd
# from utils.load_data import (
#     load_ve_balances,
#     load_lp_rewards,
#     load_nft_rewards,
#     load_ve_allocations_pct,
#     cal_ve_allocations,
#     load_nft_lp_rewards,
#     load_nft_vol
# )
# from utils.plot import sns_cat, plot_allocation_reward_sankey, plot_allocation_reward_sankey_2
# from utils.load_data_for_sankey import load_nodes_and_links

In [2]:
wallet_dict = {
    "0x8475b523b5fa2db7b77eb5f14edabdefc2102698": "psdn",
    "0x2e434c18ae93ee2da937222ea5444692ed265ac0": "whale1",
    "0xc1b8665bae4389d95d558ff3a0e58c2a24625f63": "whale2",
    "0xac517ed8283d629dd01fac97ece9f91b218203f9": "whale3",
    "0xf0a8802509421df907188434d4fc230cf9271672": "wallet_1",
    "0xcf8a4b99640defaf99acae9d770dec9dff37927d": "wallet_2",
    "0x663052ad99b85a8c35040c4fd1cc87620f4b61f1": "wallet_3",
    "0xeb18bad7365a40e36a41fb8734eb0b855d13b74f": "wallet_4",
    "0x8978be1b2082d10ea95533d2897ddab53afb97e9": "wallet_5",
    "0x655efe6eb2021b8cefe22794d90293aec37bb325": "wallet_6",
    "0xce74a5886ea7a8a675d8fb5fc11a697a23fe1dc8": "wallet_7",
    "0xf062d1b3f658ad32f7896a76807b05ba7a9e7720": "wallet_8",
}

In [3]:
from allocations_tx import query_allocation_txs
from datetime import datetime
ts_current = int(datetime.utcnow().timestamp())
ts_2days_ago = ts_current - 58 * 3600

# block = get_ethereum_block_from_ts(ts_6hrs_ago)
# query_allocation_txs(block)
new_alloc = query_allocation_txs(timestamp=ts_2days_ago)

/Users/nvtrang/code/h2o/df-strat/strat

In [4]:
import pandas as pd
df = pd.json_normalize(new_alloc)
df = df.sort_values(["timestamp"], ascending=[True]).reset_index(drop=True)
df["date"] = [datetime.fromtimestamp(x) for x in df["timestamp"]]

df.columns = ["ts", "percent", "nft", "LP_addr", 'chainId',"time", ]
df1 = df[["time","LP_addr","nft","percent", "chainId"]]
df1['percent'] = df1["percent"].astype(float)/100
df1

/var/folders/y5/vgc8zktx66373p5x666x1d780000gn/T/ipykernel_66054/2481040490.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['percent'] = df1["percent"].astype(float)/100

,time,LP_addr,nft,percent,chainId
0,2022-12-15 01:08:23,0xf9303877f107f5cd2cb0654b6d7a6d749fa03856,0x001c3d7debe7eff4550a3414ad2fd542020ef947,100.0,137
1,2022-12-15 09:36:11,0xcf8a4b99640defaf99acae9d770dec9dff37927d,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,100.0,137
2,2022-12-15 09:54:59,0x64b0012681110fc8aa09f9e0eb29f64ec3010594,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,40.0,137
3,2022-12-15 10:57:59,0x53a1f52e5c6edb497181da76e2cd67da619dfaa4,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,100.0,137
4,2022-12-15 11:25:47,0xf062d1b3f658ad32f7896a76807b05ba7a9e7720,0xaa8af64ee67bc318d513a6562f096db7fcd5233b,50.0,137
...,...,...,...,...,...
83,2022-12-17 14:53:59,0x904d5d363a821ae8cde75802fcaac65ae4758857,0xaa8af64ee67bc318d513a6562f096db7fcd5233b,30.0,137
84,2022-12-17 14:53:59,0x904d5d363a821ae8cde75802fcaac65ae4758857,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,30.0,137
85,2022-12-17 15:06:47,0x1e2394b6b88f9329127d98347f6e696e4af33e13,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,100.0,137
86,2022-12-17 16:19:47,0xb2b59d0fc3283b33091aa11fc0ba08927c7e2bf9,0x7c28f579fdb12b52a3a0bf27cef63868e26e0020,50.0,137
87,2022-12-17 16:19:47,0xb2b59d0fc3283b33091aa11fc0ba08927c7e2bf9,0x21457717da4d370ea16a8eaa3cb46ba2f9797ab4,50.0,137

In [5]:
ve_balance = pd.read_csv("/Users/nvtrang/code/h2o/df-strat/strat/tmp/2/vebals.csv")

df2 = ve_balance[['LP_addr', 'balance']]
df2

                                        LP_addr        balance
0    0x000afce0e19523ca2566b142bd12968fe1e44fe8     453.995070
1    0x001b71fad769b3cd47fd4c9849c704fdfabf6096    8467.161870
2    0x002570980aa53893c6981765698b6ebab8ae7ea1  118936.280436
3    0x006d0f31a00e1f9c017ab039e9d0ba699433a28c   70033.299272
4    0x006d559fc29090589d02fb71d4142aa58b030013      96.686368
..                                          ...            ...
383  0x77d04705f14b847185d0ac92e726f333caaf2b39     116.729026
384  0xc4bf9db0b6389f002fbeacd6b8c9272ced024610     318.601857
385  0xdf0e2c940add629af0fcd9d0edb6d8b1beb8ab1e     446.346818
386  0xc0ad4c05df5ce58ba4204109a473dfe2a9d595af    1016.857652
387  0x6b89277988580859b8ae8c5ee32334684771108e      95.702378

[388 rows x 2 columns]

In [6]:
ve_allocation = pd.merge(df1, df2, on="LP_addr")
ve_allocation["allocation"] = ve_allocation["balance"].astype(float) * ve_allocation["percent"].astype(float) / 100
ve_allocation["LP_addr_label"] = ve_allocation["LP_addr"].map(wallet_dict)

ve_allocation = ve_allocation.sort_values(["allocation"], ascending=[False]).reset_index(drop=True)

ve_allocation

,time,LP_addr,nft,percent,chainId,balance,allocation,LP_addr_label
0,2022-12-15 15:33:35,0xf0a8802509421df907188434d4fc230cf9271672,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137,582301.242339,582301.242339,wallet_1
1,2022-12-16 16:15:35,0x663052ad99b85a8c35040c4fd1cc87620f4b61f1,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,100.0,137,497815.401446,497815.401446,wallet_3
2,2022-12-16 16:16:47,0x8978be1b2082d10ea95533d2897ddab53afb97e9,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,100.0,137,348470.781012,348470.781012,wallet_5
3,2022-12-15 09:36:11,0xcf8a4b99640defaf99acae9d770dec9dff37927d,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,100.0,137,284305.679224,284305.679224,wallet_2
4,2022-12-15 15:11:23,0x655efe6eb2021b8cefe22794d90293aec37bb325,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137,191953.765428,191953.765428,wallet_6
...,...,...,...,...,...,...,...,...
79,2022-12-16 17:24:35,0xc4bf9db0b6389f002fbeacd6b8c9272ced024610,0x21457717da4d370ea16a8eaa3cb46ba2f9797ab4,30.0,137,318.601857,95.580557,NaN
80,2022-12-17 15:06:47,0x1e2394b6b88f9329127d98347f6e696e4af33e13,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,100.0,137,34.722439,34.722439,NaN
81,2022-12-16 12:44:11,0x9548df6469e35f6d1bc0357fb669519c96034f70,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,100.0,137,4.045053,4.045053,NaN
82,2022-12-16 17:54:35,0x3c50843f99e1ba286939d69234bc8f3747d2066d,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,90.0,137,0.571984,0.514786,NaN
83,2022-12-16 17:54:35,0x3c50843f99e1ba286939d69234bc8f3747d2066d,0xe10f6940c84b1bf8477fda04335405841b66cec7,10.0,137,0.571984,0.057198,NaN

In [11]:
ve_allocation_top = ve_allocation.loc[ve_allocation['allocation'] >= 100_000]
ve_allocation_top

,time,LP_addr,nft,percent,chainId,balance,allocation,LP_addr_label
0,2022-12-15 15:33:35,0xf0a8802509421df907188434d4fc230cf9271672,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137,582301.242339,582301.242339,wallet_1
1,2022-12-16 16:15:35,0x663052ad99b85a8c35040c4fd1cc87620f4b61f1,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,100.0,137,497815.401446,497815.401446,wallet_3
2,2022-12-16 16:16:47,0x8978be1b2082d10ea95533d2897ddab53afb97e9,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,100.0,137,348470.781012,348470.781012,wallet_5
3,2022-12-15 09:36:11,0xcf8a4b99640defaf99acae9d770dec9dff37927d,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,100.0,137,284305.679224,284305.679224,wallet_2
4,2022-12-15 15:11:23,0x655efe6eb2021b8cefe22794d90293aec37bb325,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137,191953.765428,191953.765428,wallet_6
5,2022-12-16 14:57:35,0x7328eada6ff1e0974309f7d8f062101ce25c36bc,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,75.0,137,226596.341028,169947.255771,NaN
6,2022-12-15 15:09:59,0x5cdc664bcabe8c55699ce7e0e5b5b52dbff3fc44,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,100.0,137,151219.279300,151219.279300,NaN
7,2022-12-15 17:19:47,0xb1e24789311f14b6270b2b4ed11a768bf9b547ff,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,100.0,137,141548.150685,141548.150685,NaN
8,2022-12-16 22:15:59,0xce74a5886ea7a8a675d8fb5fc11a697a23fe1dc8,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,100.0,137,136701.291215,136701.291215,wallet_7
9,2022-12-15 11:25:47,0xf062d1b3f658ad32f7896a76807b05ba7a9e7720,0xaa8af64ee67bc318d513a6562f096db7fcd5233b,50.0,137,244511.990075,122255.995037,wallet_8
10,2022-12-15 11:26:23,0xf062d1b3f658ad32f7896a76807b05ba7a9e7720,0xaa8af64ee67bc318d513a6562f096db7fcd5233b,50.0,137,244511.990075,122255.995037,wallet_8

In [54]:
486262/582301.242339

0.8350694874817242

What do:
- New allocation that just execute in this round
- With big amount of veOcean

-> more likely they will wash on those

In [56]:
# nft to dataset
from allocations_tx import query_datatoken_of_nft
dataset_df = pd.DataFrame(
        columns=[ "nft","id", "name", "symbol"]
    )
for nft_addr in ve_allocation_top['nft'].unique():
    datatoken_info = query_datatoken_of_nft(f'"{nft_addr}"', 137)
    
    df_dictionary = pd.DataFrame([datatoken_info[0]])
    dataset_df = pd.concat([dataset_df, df_dictionary], ignore_index=True)
    dataset_df.loc[dataset_df.index[-1], "nft"] = nft_addr

dataset_df.columns = [ "nft","datatoken_addr", "datatoken name", "datatoken symbol"]
dataset_df

,nft,datatoken_addr,datatoken name,datatoken symbol
0,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,0xe9d9596eeff7d83ed64f897aef67018a342b04b2,Marvelous Whale Token,MARWHA-20
1,0x635a7541459b8a320a08cb2f954aa2dcf858fec8,0x31f409c83ef697e6234dc1dfdb3ba7082f53d00c,Turgid Pelican Token,TURPEL-25
2,0xaa8af64ee67bc318d513a6562f096db7fcd5233b,0x260ba1f3414b460c790f359d34421ab5961ac739,Bellicose Whale Token,BELWHA-92

In [60]:
ve_allocation_top_dataset_info = pd.merge(ve_allocation_top, dataset_df, on="nft")
for n in ve_allocation_top_dataset_info['datatoken name'].unique():
    _df = ve_allocation_top_dataset_info.loc[ve_allocation_top_dataset_info['datatoken name'] == n]
    print(f"{n}: ", format(_df['allocation'].sum(),'0.0f'))

Marvelous Whale Token:  774255
Turgid Pelican Token:  1730008
Bellicose Whale Token:  244512

In [8]:
from allocations_tx import query_datatoken_of_nft
query_datatoken_of_nft('"0xff01b2c22011490516d20cf92b2c34b226c89a5b"',137)
# 0xaedea2a290346b4b9dc9b4d0e8fa27f35bf4b89d

[{'id': '0xa8947e1343c2cc35504396cb2c29e0863e7743e2',
  'name': 'Querulous Eel Token',
  'symbol': 'QUEEEL-41'}]

In [7]:
"0x18cF1bd39703EDB4a4eBa710179626f8A57e6be3".lower()

'0x18cf1bd39703edb4a4eba710179626f8a57e6be3'