In [1]:
import pandas as pd
# from utils.load_data import (
#     load_ve_balances,
#     load_lp_rewards,
#     load_nft_rewards,
#     load_ve_allocations_pct,
#     cal_ve_allocations,
#     load_nft_lp_rewards,
#     load_nft_vol
# )
# from utils.plot import sns_cat, plot_allocation_reward_sankey, plot_allocation_reward_sankey_2
# from utils.load_data_for_sankey import load_nodes_and_links

In [2]:
wallet_dict = {
    "0x8475b523b5fa2db7b77eb5f14edabdefc2102698": "psdn",
    "0x2e434c18ae93ee2da937222ea5444692ed265ac0": "whale1",
    "0xc1b8665bae4389d95d558ff3a0e58c2a24625f63": "whale2",
    "0xac517ed8283d629dd01fac97ece9f91b218203f9": "whale3",
    "0xf0a8802509421df907188434d4fc230cf9271672": "wallet_1",
    "0xcf8a4b99640defaf99acae9d770dec9dff37927d": "wallet_2",
    "0x663052ad99b85a8c35040c4fd1cc87620f4b61f1": "wallet_3",
    "0xeb18bad7365a40e36a41fb8734eb0b855d13b74f": "wallet_4",
    "0x8978be1b2082d10ea95533d2897ddab53afb97e9": "wallet_5",
    "0x655efe6eb2021b8cefe22794d90293aec37bb325": "wallet_6",
    "0xce74a5886ea7a8a675d8fb5fc11a697a23fe1dc8": "wallet_7",
    "0xf062d1b3f658ad32f7896a76807b05ba7a9e7720": "wallet_8",
}

In [3]:
from allocations_tx import query_allocation_txs
from datetime import datetime
ts_current = int(datetime.utcnow().timestamp())
ts_2days_ago = ts_current - 58 * 3600

# block = get_ethereum_block_from_ts(ts_6hrs_ago)
# query_allocation_txs(block)
new_alloc = query_allocation_txs(timestamp=ts_2days_ago)

/Users/nvtrang/code/h2o/df-strat/strat

In [4]:
import pandas as pd
df = pd.json_normalize(new_alloc)
df = df.sort_values(["timestamp"], ascending=[True]).reset_index(drop=True)
df["date"] = [datetime.fromtimestamp(x) for x in df["timestamp"]]

df.columns = ["ts", "percent", "nft", "LP_addr", 'chainId',"time", ]
df1 = df[["time","LP_addr","nft","percent", "chainId"]]
df1['percent'] = df1["percent"].astype(float)/100
df1

/var/folders/y5/vgc8zktx66373p5x666x1d780000gn/T/ipykernel_80489/2481040490.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['percent'] = df1["percent"].astype(float)/100

,time,LP_addr,nft,percent,chainId
0,2022-12-21 21:50:47,0x15abf18f424cd2755e9d680eeeaa02bc00c1f00e,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137
1,2022-12-21 21:53:11,0xf202697addd58f887213abc1a0d0d484a859bcc0,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137
2,2022-12-22 00:14:47,0x7473a74cb6376e43209eb122f83cbc3ed8de58fe,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137
3,2022-12-22 00:15:35,0x7473a74cb6376e43209eb122f83cbc3ed8de58fe,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137
4,2022-12-22 01:17:59,0xcd2e9293bf8887bfb61c30740b728f3ad734c3f5,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137
...,...,...,...,...,...
66,2022-12-24 09:14:59,0x9548df6469e35f6d1bc0357fb669519c96034f70,0x21457717da4d370ea16a8eaa3cb46ba2f9797ab4,50.0,137
67,2022-12-24 09:14:59,0x9548df6469e35f6d1bc0357fb669519c96034f70,0xd0d5d72554cb47d2ec07e0e849c1b8fae6bb5f3a,50.0,137
68,2022-12-24 14:25:59,0x655efe6eb2021b8cefe22794d90293aec37bb325,0xd0d5d72554cb47d2ec07e0e849c1b8fae6bb5f3a,15.0,137
69,2022-12-24 14:25:59,0x655efe6eb2021b8cefe22794d90293aec37bb325,0x7c28f579fdb12b52a3a0bf27cef63868e26e0020,70.0,137
70,2022-12-24 14:25:59,0x655efe6eb2021b8cefe22794d90293aec37bb325,0x21457717da4d370ea16a8eaa3cb46ba2f9797ab4,15.0,137

In [5]:
ve_balance = pd.read_csv("/Users/nvtrang/code/h2o/df-strat/strat/parsed_data_weekly/df-flow-week-51-2022-12-24-Sat/vebals.csv")

df2 = ve_balance[['LP_addr', 'balance']]
df2

                                        LP_addr        balance
0    0x000afce0e19523ca2566b142bd12968fe1e44fe8     449.208257
1    0x001b71fad769b3cd47fd4c9849c704fdfabf6096    8424.643979
2    0x002570980aa53893c6981765698b6ebab8ae7ea1  118339.041375
3    0x006d0f31a00e1f9c017ab039e9d0ba699433a28c   69698.643699
4    0x006d559fc29090589d02fb71d4142aa58b030013      96.212895
..                                          ...            ...
405  0x869cb418f007d4874e1f4be382eaadc0614f004f    1685.922000
406  0x6747b77ea0162c8e226793854e403a0d9418681b     574.237518
407  0x818854b363b90791a9ebc29e2f9c7f1055ee5a4d      25.118330
408  0xd954070d9ac3c668e1f6d933ce7f90bbcf538483      34.035022
409  0x8141665f038e82610b66e217a05dd200d601a642      22.071582

[410 rows x 2 columns]

In [6]:
ve_allocation = pd.merge(df1, df2, on="LP_addr")
ve_allocation["allocation"] = ve_allocation["balance"].astype(float) * ve_allocation["percent"].astype(float) / 100
ve_allocation["LP_addr_label"] = ve_allocation["LP_addr"].map(wallet_dict)

ve_allocation = ve_allocation.sort_values(["allocation"], ascending=[False]).reset_index(drop=True)

ve_allocation

,time,LP_addr,nft,percent,chainId,balance,allocation,LP_addr_label
0,2022-12-22 16:45:23,0xf0a8802509421df907188434d4fc230cf9271672,0x7c28f579fdb12b52a3a0bf27cef63868e26e0020,100.0,137,579377.214062,579377.214062,wallet_1
1,2022-12-23 16:02:35,0x663052ad99b85a8c35040c4fd1cc87620f4b61f1,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137,499836.677036,499836.677036,wallet_3
2,2022-12-23 16:01:35,0x8978be1b2082d10ea95533d2897ddab53afb97e9,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137,400267.617865,400267.617865,wallet_5
3,2022-12-22 19:46:59,0xcf8a4b99640defaf99acae9d770dec9dff37927d,0x7c28f579fdb12b52a3a0bf27cef63868e26e0020,100.0,137,282885.259703,282885.259703,wallet_2
4,2022-12-22 16:44:35,0x655efe6eb2021b8cefe22794d90293aec37bb325,0x7c28f579fdb12b52a3a0bf27cef63868e26e0020,70.0,137,190989.868741,133692.908119,wallet_6
...,...,...,...,...,...,...,...,...
66,2022-12-24 00:31:47,0x9107299cfdda1ca0f75c167ca2f86e25650c5f7a,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,33.0,137,64.439194,21.264934,NaN
67,2022-12-24 00:31:47,0x9107299cfdda1ca0f75c167ca2f86e25650c5f7a,0xd0d5d72554cb47d2ec07e0e849c1b8fae6bb5f3a,33.0,137,64.439194,21.264934,NaN
68,2022-12-22 05:24:47,0xb62e762af637b49eb4870bce8fe21bfff189e495,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137,7.573003,7.573003,NaN
69,2022-12-24 09:14:59,0x9548df6469e35f6d1bc0357fb669519c96034f70,0x21457717da4d370ea16a8eaa3cb46ba2f9797ab4,50.0,137,3.902054,1.951027,NaN
70,2022-12-24 09:14:59,0x9548df6469e35f6d1bc0357fb669519c96034f70,0xd0d5d72554cb47d2ec07e0e849c1b8fae6bb5f3a,50.0,137,3.902054,1.951027,NaN

In [8]:
ve_allocation_top = ve_allocation.loc[ve_allocation['allocation'] >= 50_000]
ve_allocation_top

,time,LP_addr,nft,percent,chainId,balance,allocation,LP_addr_label
0,2022-12-22 16:45:23,0xf0a8802509421df907188434d4fc230cf9271672,0x7c28f579fdb12b52a3a0bf27cef63868e26e0020,100.0,137,579377.214062,579377.214062,wallet_1
1,2022-12-23 16:02:35,0x663052ad99b85a8c35040c4fd1cc87620f4b61f1,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137,499836.677036,499836.677036,wallet_3
2,2022-12-23 16:01:35,0x8978be1b2082d10ea95533d2897ddab53afb97e9,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137,400267.617865,400267.617865,wallet_5
3,2022-12-22 19:46:59,0xcf8a4b99640defaf99acae9d770dec9dff37927d,0x7c28f579fdb12b52a3a0bf27cef63868e26e0020,100.0,137,282885.259703,282885.259703,wallet_2
4,2022-12-22 16:44:35,0x655efe6eb2021b8cefe22794d90293aec37bb325,0x7c28f579fdb12b52a3a0bf27cef63868e26e0020,70.0,137,190989.868741,133692.908119,wallet_6
5,2022-12-24 14:25:59,0x655efe6eb2021b8cefe22794d90293aec37bb325,0x7c28f579fdb12b52a3a0bf27cef63868e26e0020,70.0,137,190989.868741,133692.908119,wallet_6
6,2022-12-22 17:05:11,0xe0dc24a3d7478eb840dc63baa20fcb06cdb123be,0x7c28f579fdb12b52a3a0bf27cef63868e26e0020,100.0,137,95733.442732,95733.442732,NaN
7,2022-12-21 21:53:11,0xf202697addd58f887213abc1a0d0d484a859bcc0,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137,61565.835627,61565.835627,NaN
8,2022-12-22 01:17:59,0xcd2e9293bf8887bfb61c30740b728f3ad734c3f5,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,100.0,137,55684.269865,55684.269865,NaN

What do:
- New allocation that just execute in this round
- With big amount of veOcean

-> more likely they will wash on those

In [9]:
# nft to dataset
from allocations_tx import query_datatoken_of_nft
dataset_df = pd.DataFrame(
        columns=[ "nft","id", "name", "symbol"]
    )
for nft_addr in ve_allocation_top['nft'].unique():
    datatoken_info = query_datatoken_of_nft(f'"{nft_addr}"', 137)
    
    df_dictionary = pd.DataFrame([datatoken_info[0]])
    dataset_df = pd.concat([dataset_df, df_dictionary], ignore_index=True)
    dataset_df.loc[dataset_df.index[-1], "nft"] = nft_addr

dataset_df.columns = [ "nft","datatoken_addr", "datatoken name", "datatoken symbol"]
dataset_df

,nft,datatoken_addr,datatoken name,datatoken symbol
0,0x7c28f579fdb12b52a3a0bf27cef63868e26e0020,0x98113ebd0575f9c1de599a775fb3a5341c172216,Querulous Whale Token,QUEWHA-17
1,0x08d2ef7c255834dbb7513e8b3e744d05748a7079,0xe9d9596eeff7d83ed64f897aef67018a342b04b2,Marvelous Whale Token,MARWHA-20

In [10]:
ve_allocation_top_dataset_info = pd.merge(ve_allocation_top, dataset_df, on="nft")
for n in ve_allocation_top_dataset_info['datatoken name'].unique():
    _df = ve_allocation_top_dataset_info.loc[ve_allocation_top_dataset_info['datatoken name'] == n]
    print(f"{n}: ", format(_df['allocation'].sum(),'0.0f'))

Querulous Whale Token:  1225382
Marvelous Whale Token:  1017354

In [11]:
# from allocations_tx import query_datatoken_of_nft
# query_datatoken_of_nft('"0xff01b2c22011490516d20cf92b2c34b226c89a5b"',137)
# "0x18cF1bd39703EDB4a4eBa710179626f8A57e6be3".lower()